<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="6.0">
  <display-name>servlet_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberJoin</display-name>
    <servlet-name>MemberJoin</servlet-name>
    <servlet-class>com.gdj77.com.MemberJoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberJoin</servlet-name>
    <url-pattern>/memberJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinConfirm</display-name>
    <servlet-name>JoinConfirm</servlet-name>
    <servlet-class>com.gdj77.com.JoinConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinConfirm</servlet-name>
    <url-pattern>/joinConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RandomMuliple</display-name>
    <servlet-name>RandomMuliple</servlet-name>
    <servlet-class>com.gdj77.com.RandomMuliple</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomMuliple</servlet-name>
    <url-pattern>/randomMuliple</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDate</display-name>
    <servlet-name>RequestDate</servlet-name>
    <servlet-class>com.gdj77.com.RequestDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDate</servlet-name>
    <url-pattern>/requestDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendNotice</display-name>
    <servlet-name>SendNotice</servlet-name>
    <servlet-class>com.gdj77.com.SendNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendNotice</servlet-name>
    <url-pattern>/sendNotice</url-pattern>
  </servlet-mapping>
</web-app>